.textBox {
    width: 100%;
    margin-top: -150px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;

    .inner {
        width: 75%;
        height: 100%;
        margin: auto;

        .sectionPart {
            width: 100%;
            padding: 0px;

            .part1 {
                margin-top: 40px;
                display: flex;
            }

            .part2 {
                display: flex;
                justify-content: end;
                margin-top: 40px;
            }

            .part1,
            .part2 {

                .box {
                    width: 98%;
                    height: 120px;
                    background: #FFFFFF;
                    border: 1.4px solid #EFEFEF;
                    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.12);
                    border-radius: 11px;
                    display: grid;
                    grid-template-columns: 120px 1fr;

                    .icon {
                        display: grid;
                        place-content: center;
                        color: #FF2D5C;
                    }

                    .content {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        font-size: 18px;
                        color: #484848;
                        font-weight: 600;

                        section {
                            margin-top: 3px;
                            font-size: 14px;
                            color: #A8A8A8;
                            font-weight: 500;
                        }
                    }
                }
            }

        }

        .sections {
            width: 100%;
            margin-top: 40px;
            background: #FFFFFF;
            border: 1.4px solid #EFEFEF;
            box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.12);
            border-radius: 11px;

            .sectionTop {
                height: 120px;
                width: 100%;
                display: grid;
                grid-template-columns: 120px 1fr;

                .icon {
                    display: grid;
                    place-content: center;
                    color: #FF2D5C;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 18px;
                    color: #484848;
                    font-weight: 600;
                    position: relative;

                    section {
                        margin-top: 3px;
                        font-size: 14px;
                        color: #A8A8A8;
                        font-weight: 500;
                    }

                    .btn {
                        position: absolute;
                        right: 30px;
                        color: #777777;
                    }
                }
            }

        }

        .section1 {
            .mid1 {
                width: 100%;
                margin-bottom: 10px;
                margin-top: -20px;

                .midInner {
                    width: 40%;
                    height: 120px;
                    margin: auto;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;

                    #socialBox {
                        display: grid;
                        place-content: center;


                        div {
                            text-align: center;

                            .bt {
                                min-width: 50px;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                            }

                            #tel {
                                background: linear-gradient(203.2deg, #37AEE2 21.67%, #1E96C8 70%);
                            }

                            #what {
                                background: #3CBA28;
                            }

                            #chat {
                                border-radius: 50% 5% 50% 50%;
                                background: #37AEE2;
                            }

                            p {
                                font-size: 13px;
                                margin-top: 7px;
                                text-align: center;
                                font-weight: 600;
                                letter-spacing: .5px;
                            }
                        }
                    }
                }
            }
        }


        .section2 {
            .mid2 {
                width: 50%;
                height: 100px;
                margin: auto;
                margin-top: -20px;
                margin-bottom: 20px;

                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;

                div {
                    display: grid;
                    place-content: center;

                    img {
                        width: 45px;
                        height: 45px;
                        cursor: pointer;
                    }
                }
            }
        }


        .section3 {
            .mid3 {
                width: 70%;
                margin: auto;
                margin-top: -20px;
                margin-bottom: 40px;

                .container {
                    padding: 0px;
                }

                .form-group {
                    font-size: 12px;
                    color: #484848;
                    margin-top: 15px;

                    input,
                    textarea {
                        font-size: 12px;
                        margin-top: 2px;
                        background: #F7F7F7;
                        border: 1px solid #E2E2E2;
                        border-radius: 4px;
                    }
                }

                .btnBox{
                    margin-top: 30px;
                    text-align: center;
                    .bt1{
                        background: #FD2E5A;
                        width: 160px;
                        text-transform: none;
                        font-size: 12px;
                    }
                }
            }
        }

    }
}

@media (max-width:950px) {
    .textBox {
        .inner {
            width: 80%;

            .section1 {
                .mid1 {
                    .midInner {
                        width: 60%;
                    }
                }
            }

            .section2 {
                .mid2 {
                    width: 65%;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .textBox {
        .inner {
            width: 85%;

            .sectionPart {

                .part2,
                .part1 {
                    justify-content: center;
                }
            }

            .section1 {
                .mid1 {
                    .midInner {
                        width: 75%;
                    }
                }
            }

            .section2 {
                .mid2 {
                    width: 75%;
                }
            }
        }
    }
}


@media (max-width:500px) {

    .textBox {
        .inner {
            width: 90%;

            .sectionPart {

                .part1,
                .part2 {
                    grid-template-columns: 100px 1fr;
                }
            }

            .sections {
                .sectionTop {
                    grid-template-columns: 100px 1fr;

                    .content {
                        .btn {
                            right: 10px;
                        }
                    }
                }
            }

            .section1 {
                .mid1 {
                    .midInner {
                        width: 100%;
                    }
                }
            }

            .section2 {
                .mid2 {
                    width: 95%;
                }
            }

            .section3 {
                .mid3 {
                    width: 80%;
                }
            }
        }
    }
}


@media (max-width:385px) {
    .textBox {
        .inner {
            width: 95%;

            .sections {
                .sectionTop {
                    grid-template-columns: 90px 1fr;

                    .content {
                        .btn {
                            right: 5px;
                        }
                    }
                }
            }
        }
    }
}