.navBar {
    width: 100%;
    line-height: 60px;
    background-color: white;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.16);
    position: relative;

    .logo {
        margin-left: 50px;
        font-size: 20px;
        font-weight: 700;
        color: #FD2E5A;
    }

    .menu {
        position: absolute;
        top: 15px;
        right: 30px;
        width: 70px;
        height: 30px;
        background: #EDEDED;
        border: 1px solid #DFDFDF;
        border-radius: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;

        div{
            display: grid;
            place-content: center;
            color: #A0A0A0;
        }
    }
}